/*step 4*/
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}

body div{
	display: inline-block;
	width:12%;
	height:75px;
	background:#ccc;
	font-size: 0.75em;
	margin: 5px 2px 5px 2px;
	padding:10px;
	transition: background .25s ease-in-out;
}

.calendarCell:hover{
    background-color: #C9C;
}

body div:hover{
    background-color: #C9C;
}/*WORKS for all*/

.calendarCellSelected{
	/*display: inline-block;*/
    background-color: #C9C;
    color:#FFF;
    font-weight:700;
	width:12%;
	height:75px;
	font-size: 0.75em;
	margin: 5px 2px 5px 2px;
	padding:10px;
}

/*this is nice but
1 doesn't work for double digits and
2 causes a vertical wobble
*/
.calendarCellSelected::first-letter{
/*	font-size: 1.5rem;
*/}

button, select{
	margin-top: 15px;
}

.blanks{
	background:#EEE;
	color:#EEE;/*a very sneaky workaround*/
}
.blanks:hover{
	background-color:#EEE;
}

.days{
	background-color: #FFF;
	margin-left: 0px;
	margin-right: 0px;
	height: 25px;
	font-size: 1.2em;
	font-weight: 900;
	color: #C9C;
}
.days:hover{
	background-color:#FFF;
}
